@model List<Category>
@{
    int counter = 0;
}
<div class="container">
    <div class="container d-flex justify-content-around align-items-center">
        <h1>Category</h1>
        <a asp-action="create" class="btn btn-success">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@category.Name</td>
                    <td>
                        <a asp-action="update" asp-controller="category" asp-route-id="@category.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="category" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>